/* # Flexbox / Grid

Edita el fichero `index.html` para que muestre una web según este diseño,
 tienes que usar **Flexbox** y/o **CSS Grid** para maquetarlo:

![Versión escritorio](./flexbox-grid.png)

Extras:

- cuando pases el ratón por encima de uno de los cuadros de las personas
este tiene que aumentar de tamaño ligeramente con una transicion suave.
- cuando cargue la página el título y los tres cuadros de las personas
tienen que aparecer secuencialmente aumentando su opacidad desde cero
hasta ser completamente visibles.

El CSS resultante debe ser validado por el [validador de CSS de la W3]
(https://jigsaw.w3.org/css-validator/#validate_by_input) y no dar ningún error. */




/* ***************************************************************************
*********************        SIN TERMINAR          ***************************
*****************************************************************************/


body {
    background-color: lightcoral;
    max-width: 1000px;
    display: grid;
    grid-template-rows: 1fr 400px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "head head head head head head head "
                        "side main1 side main2 side main3 side "
                        "foot foot foot foot foot foot foot ";
    border: 1px solid yellow;
}
header {
    grid-area: head;
    border: 1px solid black;
    background: blue;
}
#article1 {
    grid-area: main1;
    border: 1px solid black;
    background: red;
}
#article2 {
    grid-area: main2;
    border: 1px solid black;
    background: green;
}
#article3 {
    grid-area: main3;
    border: 1px solid black;
    background: lightblue;
}

